@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: normal;
    src: local('Inconsolata'), url('/css/Inconsolata.woff') format('woff');
}

body {
    font-family: Inconsolata, monospace;
    font-size: 10pt;
}

body, input, textarea {
    background-color: black;
    color: white;
}

#oneChar {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
}

#container {
    margin: 10px auto 10px auto;
    border: 1px solid white;
}

#container .output {
    padding: 5px;
    white-space: pre-wrap;
}

#container .output p {
    margin: 0px;
}

#container .input {
    border-top: 1px solid white;
}

#container .input textarea {
    border: none;
    width: 100%;
}

#login {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
}

#login input {
    border: 1px solid white;
    width: 100%;
    padding: 2.5px;
    margin: 0px 0px 1em 0px;
}

#login label {
    font-weight: bolder;
}
